.divProjectMain {
  background-color: #ffffff;
  max-width: 82%;
  margin: 3% auto;
  font-family: "Lato", sans-serif;
  border-radius: 5px;
  padding-bottom: 40px;
}

.MainProductPageBody {
  background-color: #f7f7f779;
}

.divProject1 {
  background-color: rgba(255, 253, 253, 0.349);
  display: flex;
  padding: 2% 3%;
}

.divProject1 > h3 {
  font-size: 25px;
  padding: 1%;
}

.divProject1 > input {
  margin-left: auto;
  padding: 2%;
  margin-right: 4%;
  border-radius: 40px;
  background-color: rgba(241, 220, 220, 0.432);
  color: black;
}

.divProject1 > button {
  margin-left: auto;
  background-color: #19b35e;
  height: fit-content;
  padding: 13px 20px;
  border-radius: 2px;
  color: white;
  font-size: 14px;
  opacity: 0.8;
}

.divProject1 > button:hover {
  opacity: 1;
}

/* project div 2 */
.divProject2 {
  color: black;
  font-size: 16px;
  display: flex;
  padding: 1% 10px 1% 30px;
  margin: 1% 0;
  background-color: #fafafa;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

.divProject2sub1 {
  padding: 0 1%;
  width: 70%;
}
.divProject2sub1 > label {
  margin: 0 2%;
}
.divProject2sub2 {
  margin-left: auto;
  width: 52%;
}
.divProject2sub2 > select {
  outline: none;
  border-radius: 2px;
  padding: 2%;
  color: dimgray;
  margin: 0 2%;
}

.divProject2sub2 > select:hover {
  border: 1px solid #19b35e;
}

.divProject2sub2 > select > * {
  padding: 5%;
  color: rgb(68, 44, 44);
}
.divProject2sub2 > input {
  margin: 0 2%;
  color: rgba(0, 0, 0, 0.699);
  padding: 3%;
  border-radius: 2px;
}

.divProject2sub2 > input:focus {
  border: 1px solid #19b35e;
}

/* div3 design */
.divProject3 {
  max-height: 400px;
  overflow: auto;
}
