.divProjectMain {
  background-color: #ffffff;
  padding: 2% 3%;
  max-width: 82%;
  margin: 0.5% auto;
  font-family: "Lato", sans-serif;
}
.MainProductPageBody {
  background-color: #f7f7f779;
}
.divProject1 {
  background-color: rgba(255, 253, 253, 0.349);
  display: flex;
  padding: 1% 0;
  margin: 1% 0;
}
.divProject1 > h3 {
  color: black;
  font-size: 27px;
  font-weight: 500;
  padding: 1%;
}
.divProject1 > input {
  margin-left: auto;
  padding: 2%;
  margin-right: 4%;
  border-radius: 40px;
  background-color: rgba(241, 220, 220, 0.432);
  color: black;
}
.divProject1 > button {
  background-color: #24be6a;
  color: white;
  font-size: 16px;
  padding: 0 2%;
  margin-right: 3%;
}

/* project div 2 */
.divProject2 {
  color: black;
  font-size: 16px;
  display: flex;
  padding: 1% 0;
  margin: 1% 0;
}
.divProject2sub1 {
  padding: 0 1%;
  width: 70%;
}
.divProject2sub1 > label {
  margin: 0 2%;
}
.divProject2sub2 {
  margin-left: auto;
  width: 52%;
}
.divProject2sub2 > select {
  padding: 2%;
  border-color: rgba(0, 139, 139, 0.253);
  color: dimgray;
  margin: 0 2%;
}
.divProject2sub2 > select > * {
  padding: 5%;
  color: rgb(68, 44, 44);
}
.divProject2sub2 > input {
  margin: 0 2%;
  color: rgba(0, 0, 0, 0.699);
  background-color: rgba(224, 222, 222, 0.192);
  padding: 3%;
}

/* div3 design */
.divProject3 {
  max-height: 400px;
  overflow: auto;
}
