.divPartMain {
  display: flex;
  max-width: 96%;
  padding: 15px 30px;
  text-align: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.divPartMain:last-child {
  border-bottom: none;
}

.divPartMain:hover {
  background-color: #fafafa;
}

.divPartMain section {
}

.projectDetailsCont {
  flex-grow: 1;
}

.logo {
}

.logo img {
  width: 16px;
  margin: 3px 10px 0 0;
}

.taskName {
  text-align: left;
  color: #444;
}

.taskName h6:hover {
  color: #4a90e2;
  cursor: pointer;
}

.projectDetailsCont p {
  color: #666;
  font-size: 14px;
  line-height: 22px;
}

.favourite {
  margin-left: 20px;
}

.projectOption {
  flex-basis: 35%;
  justify-content: flex-end;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 3fr));
}

.projectOption > div {
  margin-left: auto;
}

.delete img {
  margin-right: 10px;
}

.dollar {
}

.dollar button {
  border: 1px solid gray;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 6px;
  color: #444;
}

.divPartMain > div {
  padding: 1%;
  margin: 0 3.5%;
  min-width: 120px;
}

.divPartMain > div:nth-child(1) {
  margin: 1% 1.5%;
}
.divPartMain > div:nth-child(5) {
  margin: 1% 3.5%;
}
.divPartMain > div:nth-last-child(1) {
  margin: 1% 2.5%;
}
.divPartMain > div > button > img {
  width: 40px;
  border-radius: 20px;
}
.divPartMain > div > img {
  width: 40px;
  border-radius: 20px;
}
.divPartMain > div > input {
  padding: 5px;
  margin: 0 2%;
}
.star {
  font-size: 23px;
  color: greenyellow;
}

.divPartMain > div > h6 {
  font-size: 19px;
  font-weight: 500;
  text-align: left;
}

.divPartMain > div > h6:hover {
  color: #4a90e2;
  cursor: pointer;
}

.divPartMain > div > p {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}
.divPartMain > div > label {
  font-size: 16px;
  font-weight: 300;
  margin-left: 5px;
}
.divPartMain > div > button {
  background-color: #ebe8e8b9;
  padding: 6% 18%;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 300;
  margin-left: 5px;
}

/*pop up */
.divPartBilling {
  padding-bottom: 30px;
  border-radius: 5px;
  width: 35vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #444;
  border-radius: 5px;
  font-size: 20px;
  overflow: hidden;
  z-index: 200;
  background-color: #fff;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 100px 1px 100px 1000px #1818189c;
}

.divPartBilling > div > div > img {
  width: 40px;
  border-radius: 20px;
}
.divPartBilling > div > div > h6 {
  font-size: 22px;
  font-weight: 600;
}
.divPartBilling > div > div > p {
  font-size: 16px;
}

.divPartBilling > h3 {
  background-color: #fafafa;
  font-size: 25px;
  color: #444;
  padding: 15px 30px;
}

.divPartBilling > h3 > span:last-child {
  cursor: pointer;
}

.divPartBilling > button {
  font-size: 20px;
  padding: 2% 10%;
  margin: 1% 7%;
  background-color: #24be6a;
  color: white;
  border-radius: 3px;
  opacity: 0.8;
}

.divPartBilling > button:hover {
  opacity: 1;
}

.divPartBillingFlex {
  display: flex;
  padding: 1% 5%;
  background-color: rgba(250, 242, 232, 0.418);
  margin: 5% 0;
}
.divPartBillingFlex > div {
  margin: 0.5% 3%;
}
.divPartBilling > label {
  font-size: 20px;
  padding: 2%;
  margin: 5%;
}

.divPartBillingInput > input {
  border-radius: 3px;
  padding: 1%;
  margin: 2%;
  font-size: 16px;
  width: auto;
  max-width: 100px;
  border: 1px solid rgba(68, 68, 68, 0.356);
}
.divPartBillingInput > select {
  border-radius: 2px;
  padding: 1%;
  font-size: 16px;
  margin: 2%;
  color: #444;
  border: 1px solid rgba(68, 68, 68, 0.356);
  outline: none;
}

.divPartBillingInput {
  margin-left: 5%;
  margin-bottom: 5%;
}
