.MainTaskDiv {
  background-color: #ffffff;
  text-align: left;
  height: auto;
  width: 82%;
  margin: 2% auto;
  font-family: "Lato", sans-serif;
  border: 1px solid rgb(228, 226, 226);
  border-radius: 5px;
}

.BodyPageSection {
  background-color: #fafafa;
}

.headerSection {
  border-bottom: 1px solid rgb(228, 226, 226);
  padding: 20px 40px 0;
}

.listCont {
  color: #444;
  border-bottom: 3px solid rgb(6, 170, 6);
  width: 30px;
  padding: 10px 0;
}

.MainTaskDiv > div > h2 {
  font-size: 28px;
  color: #444;
}

.MainTaskDiv > div > div > h2 {
  font-size: 25px;
  padding: 1% 0.5%;
  margin: 1% 0;
  font-weight: 600;
  color: rgb(68, 68, 68);
}

.MainTaskDiv > div > div > h4 {
  font-size: 18px;
  padding: 0.5%;
  font-weight: 500;
  margin-top: 2px;
  color: rgb(27, 27, 27);
}

.MainTaskDiv > div > h4 {
  font-size: 18px;
  margin-top: 2px;
  padding: 0.5%;
  font-weight: 500;
  color: rgb(27, 27, 27);
}

.tasksDivOfProject {
  display: flex;
}

.tasksDivOfProject > div {
  margin: 1%;
}

.MainTaskDiv > div > div > button {
  background-color: #e7e7e796;
  padding: 1% 2%;
  font-family: "Lato", sans-serif;
  border-radius: 20px;
  margin: 1%;
}
.DivTaskFlex {
  display: flex;
}
.inputTaskPage {
  margin: 0 3%;
  padding: 0 2%;
  background-color: #eceaea57;
  border-radius: 40px;
}
