.MainTaskDiv {
  background-color: #ffffff;
  text-align: left;
  padding: 2% 4%;
  height: auto;
  width: 80%;
  margin: 2% auto;
  font-family: "Lato", sans-serif;
  box-shadow: 1px -1px 1px rgba(105, 105, 105, 0.336);
  border: 1px solid rgba(105, 105, 105, 0.308);
}
.BodyPageSection {
  background-color: #fafafa;
}
.headerSection {
  height: 70px;
}
.MainTaskDiv > div > h1 {
  font-size: 28px;
  font-weight: 600;
  color: rgb(68, 68, 68);
}
.MainTaskDiv > div > div > h2 {
  font-size: 25px;
  padding: 1% 0.5%;
  margin: 1% 0;
  font-weight: 600;
  color: rgb(68, 68, 68);
}
.MainTaskDiv > div > div > h4 {
  font-size: 18px;
  padding: 0.5%;
  font-weight: 500;
  color: rgb(27, 27, 27);
}
.MainTaskDiv > div > h4 {
  font-size: 18px;
  padding: 0.5%;
  font-weight: 500;
  color: rgb(27, 27, 27);
}
.tasksDivOfProject {
  display: flex;
}
.tasksDivOfProject > div {
  margin: 1%;
}
.MainTaskDiv > div > div > button {
  background-color: #e7e7e796;
  padding: 1% 2%;
  font-family: "Lato", sans-serif;
  border-radius: 20px;
  margin: 1%;
}
.DivTaskFlex {
  display: flex;
}
